{% extends 'base.html' %}

{% block title %}
    Add Movie
{% endblock %}

{% block body %}
    <h1>Delete movie</h1>
    <div>
        <form method="post">
            <label for="id-films">
                  Title
            </label>
            <input
                id="id-films"
                name="film-title"
                type="text"
                maxlength="19"
                required
            >
            <label for="id-description">
                  Description
            </label>
            <input
                id="id-description"
                name="film-description"
                type="text"
                maxlength="499"
                required
            >
            <label for="id-year">
                  Year
            </label>
            <input
                id="id-year"
                name="film-year"
                type="number"
                max="2029"
                min="1901"
                required
            >
            <button type="submit">Delete</button>
        </form>
    </div>
    <div>
        <a href="{{ url_for('actors_app.list') }}">
            Back to movie list
        </a>
    </div>
{% endblock %}